/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f8fafc;
  color: #111;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #0a1f44;
  color: white;
}

.navbar h2 {
  font-size: 22px;
}

.navbar nav a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-weight: 500;
}

.navbar nav a:hover {
  color: #e11d48;
}

/* HERO */
.hero {
  text-align: center;
  padding: 140px 20px;
  background: linear-gradient(135deg, #0a1f44, #1e3a8a);
  color: white;
}

.hero h1 {
  font-size: 3.2rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  opacity: 0.9;
}

.hero button {
  margin-top: 25px;
  padding: 14px 30px;
  border: none;
  background: #e11d48;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.hero button:hover {
  background: #be123c;
}

/* SECTIONS */
.section {
  padding: 80px 20px;
  text-align: center;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.section p {
  max-width: 700px;
  margin: auto;
  color: #555;
}

/* CARDS */
.cards {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  min-width: 220px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
}

/* FOOTER */
footer {
  background: #0a1f44;
  color: white;
  text-align: center;
  padding: 25px;
}

.hero-img {
  width: 100%;
  max-width: 800px;
  margin-top: 40px;
  border-radius: 10px;
}
