* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #ffffff;
  color: #111;
}

/* NAVBAR */
header {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  z-index: 1000;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #003366;
  font-weight: 600;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
              linear-gradient(to right, #003366, #0055aa);
  display: flex;
  align-items: center;
  padding: 0 80px;
  color: white;
}

.hero h2 {
  font-size: 52px;
}

.hero p {
  margin-top: 15px;
  font-size: 18px;
}

.hero button {
  margin-top: 25px;
  padding: 12px 30px;
  background: red;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

/* SECTIONS */
section {
  padding: 100px 80px;
  text-align: center;
}

.services {
  background: #f9f9f9;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.card {
  padding: 40px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
  transition: 0.3s;
  opacity: 0;
  transform: translateY(30px);
}

.card:hover {
  transform: translateY(-5px);
}

/* ANIMATION */
.show {
  opacity: 1;
  transform: translateY(0);
  transition: 0.6s ease;
}

/* USA SECTION */
.usa {
  background: linear-gradient(to right, #002244, #004488);
  color: white;
}

/* BAGS */
.bags {
  background: #f4f4f4;
}

/* CONTACT */
.contact button {
  margin-top: 20px;
  padding: 12px 25px;
  background: #003366;
  color: white;
  border: none;
  cursor: pointer;
}
